#map {
    height: 600px; /* Critical: Set height */
    width: 80%; /* Optional: Adjust width */
    margin: 20px auto; /* Center the map */
    border: 2px solid #ddd;
    border-radius: 8px;
}
body { 
    font-family: "Crimson", "Georgia", "Times", serif; 
}

h1 {
    text-align: center;
    color: #333;
}
h2 {
    text-align: center;
    color: #333
}

